page-sell{    
    .sell-main{
        height: 100%;
        width: 100%;    
        flex-direction: column;    
    }
    .sell-form{
        flex: 1;  
        height: 100%;    
    }
    .sell-navbar{
        padding: 0px;
    }
    .sell-check{
        margin: 20px 0px 0px 0px;
    }
    .sell-image{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: center;    
    }
    .sell-inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
