page-home {
    .home-header {
        height: 30%;
        background-image: url('../../assets/images/eggs-icons.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
}
