page-operations {
    .counter {
        justify-content: center;
        color: color($colors, 'secondary');
        height: 50%;
        font-family: "Homer Simpson", cursive;
        font-size: 60px;        
        border: none;
    }
    .eggs-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 19px;
    }
    .note {
        display: flex;
        width: 80%;
        color: color($colors, "secondary");
    }
}

